<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Goal Field</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {%load static%}
    <link rel="stylesheet" href="{% static 'game/css/style.css' %}">
</head>
<body>
	<div class="d-flex  flex-column">
		<header  class="d-flex justify-content-center"><a href="#" id="logo"></a></header>
		<nav class="navbar navbar-expand-md mb-2">
		</nav>
		<div class="coverImg"></div>
		<main class="text-center">
			<div>
				<h1 >WELCOME</h1>
				<h2><i>TALENT WITHOUT WORKING HARD<br>IS NOTHING</i></h2>
			</div>
			<section id="joinGame" class="mx-3">
				<div>	
					<button type="button" class="btn btn-secondary float-left px-3 ml-4" onclick="createGame()"><i class="fas fa-futbol">New game</i></button>	
					<button type="button" class="btn btn-secondary disabled px-3 float-right"><i>Join</i></button>
					<div id="shoppingCart"><a href="#" class="float-right mt-2 mr-4">1<a></div>
					<button type="button" class="btn btn-secondary float-left px-3"><i class="fas fa-filter" onclick="clickFunction()"> Filter</i></button>
					<div id="filtererea" class="form-group">
						<form class="form" method="get" action="#">	
									<label>group name:
										<input type="text" name="groupname" id="groupname" >
									</label>
									<label>field:
										<input type="text" name="fieldname" id="fieldname" >
									</label>
									<label>date:
										<input type="text" class="date" id="date" />
									</label>
									<label id="startime">start time:
										<input type="time" id="appt" name="appt" min="06:00" max=22:00 required>
									</label>
									<label id="endtime">end time
										<input type="time" id="appt" name="appt" min="07:00" max=22:00 required>
									</label>
									<input id="submit_btn" type="submit"  value="send" class="btn btn-secondary btn-sm">
						</form>
					</div>	
				</div>
				<div class="w-100 d-flex " >
					<label class="arrow">&#x2039;</label>
					<ul class="filed w-100 ">
						<div>
							<li>
								<h3>15:00 - 16:00 25.5.20</h3>
								<div class="card">
									<div class="back">   
										<h5>grupe name : "Tigers"</h5> 
										<p>Field : Bloomfield</p>
										<p>Fixed : yes</p> 
										<p>number of players : 13</p>
										<p>Plays every Thursday football, Sports enthusiasts</p>								
									</div>
									<img src="{% static 'game/images/filed.jpg'%}" alt="Field" title="Filed">
								</div>
								<button class="btn btn-info btn-sm" type="submit"><i>Add game</i></button>
							</li> 
							<li>
								<h3>15:00 - 16:00 25.5.20</h3>
								<div class="card">
									<div class="back">   
										<h5>grupe name : "Tigers"</h5> 
										<p>Field : Bloomfield</p>
										<p>Fixed : yes</p> 
										<p>number of players : 13</p>
										<p>Plays every Thursday football, Sports enthusiasts</p>
									</div>
									<img src="{% static 'game/images/filed.jpg'%}" alt="Field" title="Filed">
								</div>
								<button class="btn btn-info btn-sm" type="submit">Add game</button>
							</li> 
							</div><div>
							<li>
								<h3>15:00 - 16:00 25.5.20</h3>
								<div class="card">
									<div class="back">   
										<h5>grupe name : "Tigers"</h5> 
										<p>Field : Bloomfield</p>
										<p>Fixed : yes</p> 
										<p>number of players : 13</p>
										<p>Plays every Thursday football, Sports enthusiasts</p>
									</div>
									<img src="{% static 'game/images/filed.jpg'%}" alt="Field" title="Filed">
								</div>
								<button class="btn btn-info btn-sm" type="submit">Add game</button>
							</li> 
							<li>
								<h3>15:00 - 16:00 25.5.20</h3>
								<div class="card">
									<div class="back">   
										<h5>grupe name : "Tigers"</h5> 
										<p>Field : Bloomfield</p>
										<p>Fixed : yes</p> 
										<p>number of players : 13</p>
										<p>Plays every Thursday football, Sports enthusiasts</p>
									</div>
									<img src="{% static 'game/images/filed.jpg'%}" alt="Field" title="Filed">
								</div>
								<button class="btn btn-info btn-sm" type="submit">Add game</button>
							</li> 
						</div>
					</ul>
					<label  class="arrow">&#x203a;</label>							
				</div>
			</section>
			<div class="aboutUs">
				<div>
					<h4><i>It's not the will to win, but the will to prepare to win that makes the difference</i></h4><br>		
					<p>Goal Filed is a dream to connect people, play soccer, fun and  joy.The best fields, facilities condition in your region. The best utility, to join soccer game ,get feedback  or just talk online . Whether you want to improve your athletic performance, get in shape, or have some fun, come up and Goal Filed to go and play!</p>
				</div>
				<div class="h-25 d-flex">
					<h5 class="w-25 align-self-md-center ml-5">Store</h5>
					<h5 class="w-50 align-self-end ml-5">Locker room</h5>
					<h5 class="w-25 align-self-center m-5">Shower room</h5>
				</div>
			</div>
		</main>
	</div>
	<footer >
		<a href="#"><img src="{% static 'game/images/icon/Twitter.png'%}" alt="twitter" title="twitter"></a>
		<a href="#"><img src="{% static 'game/images/icon/Google.png'%}" alt="google" title="google"></a>
		<a href="#"><img src="{% static 'game/images/icon/Facebook.png'%}" alt="facebook" title="facebook"></a>	
	</footer>
   <!-- <script src="bootstrap-datepicker.js"></script>-->
    <script src="{% static 'game/js/bootstrap-datepicker.js' %}"></script>
	<script src="{% static 'game/js/jquery-3.5.1.js' %}"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/88a0e48742.js" crossorigin="anonymous"></script>
	<script  src="{% static 'game/js/script.js' %}"></script>
	
</body></html>